header {
  background-color: #f5f5f5;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

nav .nav-items {
  height: auto;
  margin: auto 0;
}

nav .nav-items > a {
  text-decoration: none;
  padding: 0 16px;
  margin: 0 10px;
  color: #444444;
  transition: all 0.4s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

nav .nav-items > a:hover {
  background-color: #c7c7c7;
  padding: 8px 16px;
  border-radius: 6px;
}

nav .nav-items > a.active {
  background-color: #444444;
  color: white;
  font-weight: 900;
  padding: 8px 12px;
  border-radius: 6px;
}

#hero {
  background-color: #f5f5f5;
  padding-top: 32px;
  padding-bottom: 16px;
}

#hero .btn {
  margin-bottom: 16px;
}

.card-white {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 32px;
}

.card-white h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-white p {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #696a69;
  margin-top: 8px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-left {
  margin-right: 8px;
}

.col-rigth {
  margin-left: 8px;
}

.justify-space-between {
  justify-content: space-between;
}

.pr-4 {
  padding-right: 48px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

#features {
  background-color: #f5f5f5;
  padding-top: 16px;
  padding-bottom: 32px;
}

#features .card-white {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#features .card-white:hover {
  -webkit-transform: translate3D(0, -1px, 0) scale(1.05);
  transform: translate3D(0, -1px, 0) scale(1.05);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

#features .card-white .card-body {
  padding: 12px;
}

#features .card-white .card-body > h3 {
  margin: 0;
}

#features .card-white .card-body > p {
  font-size: 18px !important;
  line-height: 1.4;
}

#about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding-bottom: 48px;
}

#stuff {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.about-left {
  padding-right: 16px;
}

.stuff-box {
  padding-right: 8px;
  padding-bottom: 8px;
}

.stuff-box:hover {
  -webkit-transform: translate3D(0, -1px, 0) scale(1.05);
  transform: translate3D(0, -1px, 0) scale(1.05);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

#footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}

.brown {
  background-image: url("../src/assets/pic04.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

.pink {
  background-image: url("../src/assets/pic05.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

.blue {
  background-image: url("../src/assets/pic06.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

.green {
  background-image: url("../src/assets/pic07.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  border-radius: 8px;
}

.stuff-item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.stuff-item div {
  padding: 0 0 4px 10px;
}

.text-grey {
  color: #696a69;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

.container {
  padding: 0 10%;
}

.stuff1 {
  background-image: url("../src/assets/wallpaper1.jpg");
}

.stuff2 {
  background-image: url("../src/assets/wallpaper2.jpg");
}

.stuff3 {
  background-image: url("../src/assets/wallpaper3.jpg");
}

.navbar-brand {
  color: #e05347;
  font-family: "Oleo Script";
  font-size: 30px;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  color: #444444;
}
h2,
h3,
h4 {
  color: #444444;
  font-weight: bold;
}

h4 {
  font-size: 18px;
}

#about button {
  width: auto;
  padding: 8px 16px;
  align-items: center;
  font-size: 0.9rem;
}

.btn {
  font-family: "Open Sans";
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  background-color: #4090bf;
  border-color: transparent;
  color: white;
  font-weight: 900;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn:hover {
  background-color: #3a82ac;
}

.btn-ligth {
  font-family: "Open Sans";
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  background-color: #efefef;
  border-color: transparent;
  color: #444444;
  font-weight: 900;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn-ligth:hover {
  background-color: #d7d7d7;
}

.btn div,
.btn-ligth div {
  padding: 0 8px;
}

footer {
  background-color: #f5f5f5;
}

footer a,
p {
  color: #696a69;
  font-size: 12px;
  line-height: 2rem;
  font-weight: 400;
}

footer p {
  margin: 0;
}

footer .fab,
footer .far {
  height: 40px;
  font-size: 30px;
  margin-right: 8px;
  color: #696a69;
}

#footer ul {
  list-style: none;
  padding: 0;
}

.copyright {
  width: 100%;
  justify-content: center;
  display: flex;
  color: gray;
  font-size: 12px;
  padding-bottom: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

@media (max-width: 576px) {
  #about {
    display: block;
  }

  .row {
    display: block;
  }

  #features .card-white {
    margin: 0;
    padding: 0;
    margin-bottom: 20px !important;
  }

  .col-rigth {
    margin-left: 0;
  }

  .ml-0 {
    margin: 0 !important;
  }

  .about-left {
    padding: 0;
  }

  .nav-items a {
    width: 100%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
